</main>
<!-- <footer>
  &copy; <%= new Date().getFullYear() %> Smart Village Portal
</footer> -->
<footer class="footer-modern">
  <div class="footer-social">
      <a href="#"><i class="fa-brands fa-square-facebook" style="font-size: x-large;"></i></a>
      <a href="#"><i class="fa-brands fa-square-twitter" style="margin: 0 13px 0 13px; font-size: x-large;"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram" style="font-size: x-large;"></i></a>
      </div>
  <div class="footer-content" style="opacity: 0.8;">
  
    <div class="footer-brand">
    <h2>Smart Village</h2>
    <p>Connecting villages with smart governance & technology.</p>
    </div>
    
  </div>
</body>
</html>