  <%- include('partials/header') %>

<div class="slideshow-container" style="max-width:100%; position:relative; margin:auto;">

  <div class="mySlides fade">
    <img src="/images/farm.jpg" style="width:100%; height: 450px; object-fit:cover;">
  </div>

  <div class="mySlides fade">
    <img src="/images/fisherman.jpg" style="width:100%; height: 450px; object-fit:cover;">
  </div>

  <div class="mySlides fade">
    <img src="/images/education.jpg" style="width:100%; height:450px; object-fit:cover;">
  </div>

</div>

<div style="text-align:center; margin-top:10px;">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
<% if(announcements.length !=0) {%>
<div class="announcement-ticker">
  <div class="ticker-track">
    <% announcements.forEach(a => { %>
      <div class="ticker-item">
       <i class="fa-solid fa-bullhorn"></i> <%= a.content %>
      </div>
    <% }) %>
  </div>
</div>
<% } %>

<div class="skills-section">
      <div class="skill-card">
        <i class="fa-solid fa-users"></i>
        <h3>3397+</h3>
        <p>Population</p>
      </div>
      <div class="skill-card">
      <i class="fa-solid fa-eye"></i>
      <h3><%= views %>+</h3>
      <p>Website view</p>
      </div>
      <div class="skill-card">
        <i class="fa-solid fa-map-location-dot"></i>
        <h3>929.81</h3>
        <p>Area hectares</p>
      </div>
</div>
  <h2 class="text-2xl font-bold mb-4 text-center"><i class="fa-solid fa-location-crosshairs"></i> &nbsp;Our Village Location</h2>
  <div class="flex justify-center" >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3544.939282893457!2d71.1955985250252!3d20.812704180783093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1751604342494!5m2!1sen!2sin"
      width="80%" 
      height="450" 
      style="box-shadow: 0 8px 20px rgba(131, 129, 129, 0.715);" 
      allowfullscreen="" 
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="rounded-lg shadow-lg"
    ></iframe>
  </div>

  
  <%- include('partials/footer') %>

