<%- include('partials/header') %>
<style>
    button {
    background-color: #000;
    color: white;
    padding: 8px 16px;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
  }
</style>

<section class="vlog-section">
  <h2 class="vlog-title"><i class="fa-solid fa-envelopes-bulk"></i> &nbsp;Government Schemes for Villagers</h2> 
    <div class="vlog-content" style="text-align: center;background-color: #def2d9;" >
      <h3>Pradhan Mantri Awas Yojana(PMAY-G)</h3>
        <p>Subsidy for building pucca houses for rural poor.</p>
        <p>Eligibility: BPL families, no pucca house</p>
        <a href="https://pmkisan.gov.in/" target="_blank" style="text-decoration: none;"><button>Apply/Know More &nbsp; <i class="fa-solid fa-arrow-up-right-from-square"></i></button></a>
    </div>
    <div class="vlog-content" style="text-align: center; background-color: #e2daf2;">
      <h3>PM-Kisan Samman Nidhi(PM-KISAN)</h3>
        <p>₹6,000 yearly to small and marginal farmers.</p>
        <p>Eligibility: Farmers with up to 2 hectares land</p>
        <a href="https://pmkisan.gov.in/" target="_blank" style="text-decoration: none;"><button>Apply/Know More &nbsp; <i class="fa-solid fa-arrow-up-right-from-square"></i></button></a>
    </div>
    <div class="vlog-content" style="text-align: center; background-color: #fce2d4;">
      <h3>Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA)</h3>
        <p>Provide 100 days of wage employment in rural areas.</p>
        <p>Eligibility: Any rural adult willing to do manual labor.</p>
        <a href="nrega.nic.in" target="_blank" style="text-decoration: none;"><button>Apply/Know More &nbsp; <i class="fa-solid fa-arrow-up-right-from-square"></i></button></a>
    </div>
    <div class="vlog-content" style="text-align: center; background-color: #d9ebf2;">
      <h3>Pradhan Mantri Ujjwala Yojana (PMUY)</h3>
        <p>Provide LPG gas connections to rural women.</p>
        <p>Eligibility: BPL households, SC/ST, PMAY, Antyodaya beneficiaries.</p>
        <a href="pmuy.gov.in" target="_blank" style="text-decoration: none;"><button>Apply/Know More &nbsp; <i class="fa-solid fa-arrow-up-right-from-square"></i></button></a>
    </div>
    <div class="vlog-content" style="text-align: center; background-color: #f2d9de;">
      <h3>Ayushman Bharat – PM Jan Arogya Yojana (PM-JAY)</h3>
        <p>₹5 lakh per family per year for hospitalisation(Free health insurance)</p>
        <p>Eligibility: Based on SECC 2011 data (no registration fee).</p>
        <a href="pmjay.gov.in" target="_blank" style="text-decoration: none;"><button>Apply/Know More &nbsp; <i class="fa-solid fa-arrow-up-right-from-square"></i></button></a>
    </div>
  <%- include('partials/footer') %>